*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    display: block;
    width: 100% ;
    text-align: center ;

    color: goldenrod;
    
}

p{
    padding: 2px;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

div.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

img.chicken {
    margin-top: 10rem;
    animation: rotating 2s linear infinite;
    animation-direction: reverse;
}

/* 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 /*